#Designers li {list-style: none; background-image: none;}
	#Designers img {display: block; width: 95%; margin: 10px; border: 1px solid grey}
	#Designers hr {border: 1px solid grey; clear: both; margin-top: 30px;}
